spring.application.name=SkillSync
spring.data.mongodb.uri=mongodb+srv://smart-wallet:admin@smart-wallet.j2jkswq.mongodb.net/skill-sync?retryWrites=true&w=majority
#spring.data.mongodb.uri=mongodb+srv://smart-wallet.j2jkswq.mongodb.net/skill-sync
#spring.data.mongodb.username=e-learning-webapp
#spring.data.mongodb.password=e-learning-webapp
#spring.data.mongodb.database=skill-sync

# Frontend URL
FRONTEND_URL = http://localhost:3000

£ JWT
jwt.secret=skill-sync-super-secret-key-for-local-development-please-change-later
jwt.expiration-ms=86400000

CODE_EXECUTION_ENABLED=true
CODE_EXECUTION_TIMEOUT_SECONDS=8